<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Herlan Resto Bar | Admin</title>
  </head>
  <body class="body-bg">
    <header>
      <nav
        class="navbar navbar-expand-lg nav-bg fixed-top"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html"
            ><img id="nav-icon" src="/img/favicon.png" alt="" class="img-fluid"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link ms-md-5"
                  aria-current="page"
                  href="/index.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="/views/contacto.html"
                  >Contacto</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/views/adminComanda.html"
                  >Admin</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="pt-5 container">
      <section class="mt-5 text-center">
        <img src="/img/admin banner.png" alt="" class="img-fluid" />
      </section>
      <div class="d-flex justify-content-center mt-5">
        <button
          type="button"
          class="btn btn-dark me-4 rounded-5 border"
          id="comandas-btn"
        >
          <a
            class="text-decoration-none"
            style="color: white"
            href="./adminComanda.html"
            title="admin comanda"
            >Comandas</a
          >
        </button>
        <button
          type="button"
          class="btn btn-dark ms-4 rounded-5 border"
          id="productos-btn"
        >
          <a
            class="text-decoration-none"
            style="color: white"
            href="./adminProducto.html"
            title="admin comanda"
            >Productos</a
          >
        </button>
      </div>
      <section class="mt-5" id="admin-component-container"></section>
      <div
        class="modal fade"
        id="comanda-modal"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content bg-dark text-light">
            <div class="modal-header border-0">
              <h1 class="modal-title fs-5" id="comanda-modal-title"></h1>
              <div data-bs-theme="dark">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body">
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Plato</th>
                    <th scope="col" class="text-center">Precio unitario</th>
                    <th scope="col" class="text-center">Cantidad</th>
                    <th scope="col" class="text-center">Precio total</th>
                  </tr>
                </thead>
                <tbody id="table-comandas-modal"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="nav-bg">
      <div class="container mt-5">
        <div class="row pb-1 text-white">
          <div class="col-12 text-center p-4 py-2">
            <div class="d-flex justify-content-center">
              <div class="w-100 d-flex justify-content-center">
                <div class="py-5 py-md-2 mx-3">
                  <a
                    class="h5 text-secondary text-decoration-none"
                    href="https://www.instagram.com/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-instagram fa-2x"></i>
                  </a>
                </div>
                <div class="py-5 py-md-2 mx-3">
                  <a
                    class="h5 text-secondary text-decoration-none"
                    href="https://www.facebook.com/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-facebook-f fa-2x"></i>
                  </a>
                </div>
                <div class="py-5 py-md-2 mx-3">
                  <a
                    class="h5 text-secondary text-decoration-none"
                    href="https://twitter.com"
                    target="_blank"
                  >
                    <i class="fa-brands fa-twitter fa-2x"></i>
                  </a>
                </div>
                <div class="py-5 py-md-2 mx-3">
                  <a
                    class="h5 text-secondary text-decoration-none"
                    href="https://www.youtube.com/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-youtube fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 py-2 text-center">
            <a href="/index.html">
              <img
                src="/img/logo.png"
                alt="Logo de Herlan Resto Bar"
                class="img-fluid logo-footer"
              />
            </a>
          </div>

          <div class="col-12 col-md-4 py-3 text-center text-md-start">
            <div class="mb-1">
              <div class="mb-1">
                <a
                  class="text-secondary text-start text-decoration-none item-footer"
                  href="/views/404.html"
                >
                  Sobre nosotros</a
                >
              </div>
              <div class="mb-1">
                <a
                  class="text-secondary text-decoration-none item-footer"
                  href="/views/contacto.html"
                >
                  Contacto</a
                >
              </div>
              <div class="mb-1">
                <a
                  class="text-secondary text-decoration-none item-footer"
                  href="/views/404.html"
                  >Centro de ayuda</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-3 text-center text-md-start">
            <div class="mb-1">
              <div class="mb-1">
                <a
                  class="text-secondary text-decoration-none item-footer"
                  href="/views/404.html"
                >
                  Politica de privacidad</a
                >
              </div>
              <div class="mb-1">
                <a
                  class="text-secondary text-decoration-none item-footer"
                  href="/views/404.html"
                >
                  Preferencias de cookies</a
                >
              </div>
              <div class="mb-1">
                <a
                  class="text-secondary text-decoration-none item-footer"
                  href="/views/404.html"
                >
                  Avisos legales</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 pt-2 border-top border-2">
            <p class="text-white text-center">
              &copy; 2023 <b>Herlan Resto Bar</b> - Todos los Derechos
              Reservados.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="/js/inits/adminComandaInit.js" type="module"></script>
  </body>
</html>
